{% extends "layout.html" %} {% block content %}
<html>
	<head>
		<script src="../static/add.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Add Creature</h2>
					<div
						class="toast-container position-fixed top-0 end-0 p-3"
						id="toast-container">
						<div
							class="toast"
							role="alert"
							aria-live="assertive"
							aria-atomic="true"
							id="success-toast"
							data-bs-autohide="false">
							<div class="toast-header">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									class="bi bi-check"
									viewBox="0 0 16 16">
									<path
										d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
								</svg>
								<strong class="me-auto">Success</strong>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="success-toast"
									aria-label="Close"
									id="close-toast-button"></button>
							</div>
							<div class="toast-body" id="toast-body"></div>
						</div>
					</div>
					<div class="error-box">
						<div class="error-message" id="error-message"></div>
					</div>
					<form id="add-creature-form">
						<div class="form-group">
							<div class="row">
								<div class="col-md-4">
									<label for="add-form-name">Name</label>
									<input
										type="text"
										class="form-control"
										id="add-form-name"
										name="name"
										required />
									<div
										class="invalid-feedback"
										id="invalid-name-feedback"></div>
								</div>
								<div class="col-md-4 col-6">
									<label for="add-form-image"
										>Image (URL)</label
									>
									<input
										type="text"
										class="form-control"
										id="add-form-image"
										name="image"
										required />
									<div
										class="invalid-feedback"
										id="invalid-image-feedback"></div>
								</div>
								<div
									class="col-md-4 col-6 img-preview"
									id="add-form-image-preview"></div>
								<div class="col-md-12">
									<label for="add-form-description"
										>Description</label
									>
									<textarea
										class="form-control"
										id="add-form-description"
										name="description"
										rows="4"
										cols="50"
										required></textarea>
									<div
										class="invalid-feedback"
										id="invalid-description-feedback"></div>
								</div>
								<div class="col-md-12">
									<label for="add-form-url"
										>View More (URL)</label
									>
									<input
										type="text"
										class="form-control"
										id="add-form-url"
										name="url"
										required />
									<div
										class="invalid-feedback"
										id="invalid-url-feedback"></div>
								</div>
								<div class="col-md-2 col-6">
									<label for="add-form-cr"
										>Challenge Rating</label
									>
									<input
										type="text"
										class="form-control"
										id="add-form-cr"
										name="cr"
										required />
									<div
										class="invalid-feedback"
										id="invalid-cr-feedback"></div>
								</div>
								<div class="col-md-2 col-6">
									<label for="add-form-type">Type</label>
									<select
										name="type"
										id="add-form-type"
										class="form-select"
										required>
										<option>Aberration</option>
										<option>Beast</option>
										<option>Celestial</option>
										<option>Construct</option>
										<option>Dragon</option>
										<option>Elemental</option>
										<option>Fey</option>
										<option>Fiend</option>
										<option>Giant</option>
										<option selected="selected">
											Humanoid
										</option>
										<option>Monstrosity</option>
										<option>Ooze</option>
										<option>Plant</option>
										<option>Undead</option>
									</select>
									<div
										class="invalid-feedback"
										id="invalid-type-feedback"></div>
								</div>
								<div class="col-md-2 col-6">
									<label for="add-form-alignment"
										>Alignment</label
									>
									<select
										name="alignment"
										id="add-form-alignment"
										class="form-select"
										required>
										<option>Lawful Good</option>
										<option>Neutral Good</option>
										<option>Chaotic Good</option>
										<option>Lawful Neutral</option>
										<option>Neutral</option>
										<option>Chaotic Neutral</option>
										<option>Lawful Evil</option>
										<option>Neutral Evil</option>
										<option>Chaotic Evil</option>
										<option>Any Good</option>
										<option>Any Evil</option>
										<option>Any Lawful</option>
										<option>Any Chaotic</option>
										<option selected="selected">
											Unaligned
										</option>
									</select>
									<div
										class="invalid-feedback"
										id="invalid-alignment-feedback"></div>
								</div>
								<div class="col-md-2 col-6">
									<label for="add-form-size">Size</label>
									<select
										name="size"
										id="add-form-size"
										class="form-select"
										required>
										<option>Tiny</option>
										<option>Small</option>
										<option selected="selected">
											Medium
										</option>
										<option>Large</option>
										<option>Huge</option>
										<option>Gargantuan</option>
									</select>
									<div
										class="invalid-feedback"
										id="invalid-size-feedback"></div>
								</div>
								<div class="col-md-2 col-6">
									<label for="add-form-hp">Hit Points</label>
									<input
										type="text"
										class="form-control"
										id="add-form-hp"
										name="hp"
										required />
									<div
										class="invalid-feedback"
										id="invalid-hp-feedback"></div>
								</div>
								<div class="col-md-2 col-6">
									<label for="add-form-ac">Armor Class</label>
									<input
										type="text"
										class="form-control"
										id="add-form-ac"
										name="ac"
										required />
									<div
										class="invalid-feedback"
										id="invalid-ac-feedback"></div>
								</div>
								<div class="col-lg-4 col-md-8 col-12">
									<label for="Speed">Speed</label>
									<div id="speeds-container">
										<div
											class="row speed-row"
											id="speed-row-0">
											<div class="col-5">
												<select
													name="speed-type-0"
													id="add-form-speed-type-0"
													class="form-select add-form-speed-type"
													required>
													<option>Burrow</option>
													<option>Climb</option>
													<option>Fly</option>
													<option>Swim</option>
													<option selected="selected">
														Walk
													</option>
												</select>
											</div>
											<div class="col-6">
												<input
													type="text"
													class="form-control add-form-speed-distance"
													id="add-form-speed-0"
													name="speed-0"
													required />
											</div>
											<div class="col-md-12">
												<div
													class="invalid-feedback"
													id="invalid-speed-feedback-0"></div>
											</div>
										</div>
									</div>
									<div class="col-md-7 col-lg-9">
										<button
											type="button"
											id="add-additional-speed-button"
											class="accent">
											Add Additional Speed
										</button>
									</div>
								</div>
								<div
									class="col-lg-4 d-none d-lg-block behind"></div>
								<div class="col-md-3 button-container">
									<button
										type="button"
										class="submit-button base"
										id="add-creature-button">
										Add Creature
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}
